<mat-card class="card-nlist">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Create Task</mat-label>
      <input #taskTitleInput matInput placeholder="New task">
    </mat-form-field>
    <mat-card-actions >
      <button mat-raised-button color="primary" (click)="createTask(taskTitleInput.value)">Create</button>
      <button mat-raised-button  align="end" [routerLink]="['/task-lists',listId]">Back to tasks</button>

    </mat-card-actions>
    </form>

  </mat-card>
  <h1 *ngIf="showSucessMessage">
    List added successfully
  </h1>


