<mat-card class="card-nlist">
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Create list</mat-label>
    <input #listTitleInput matInput placeholder="New list">
  </mat-form-field>
  <mat-card-actions >

    <button mat-raised-button  align="end" [routerLink]="['/lists']">Back to lists</button>
    <button mat-raised-button color="primary" (click)="createList(listTitleInput.value)">Create</button>
  </mat-card-actions>
  </form>

</mat-card>
